<template>
  <v-app>
    <v-toolbar
      app
    >
      <v-spacer></v-spacer>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      title: 'Simple Storage - Thumbnail Generator',
    };
  },
  name: 'App',
};
</script>
