<template>
  <v-container fluid pa-5 grid-list-md>
    <v-snackbar
      v-model="snackbar"
      right
      :color="snackColor"
      :timeout="2000"
      top
    >
      {{ snackText }}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <div class=" display-2 grey--text text--darken-3">
      Bucket: {{this.bucketName}}
    </div>
    <v-btn
      @click="addBucketQueue"
      depressed color="secondary">
      Submit All
    </v-btn>
    <div class="ma-5"></div>
    <v-data-table
      :headers="headers"
      :items="videos"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-center">{{ props.item.text }}</td>
        <td class="text-xs-center">
          <v-btn
            depressed small
            color="primary"
            class="white--text "
            @click="()=>addQueue(props.item.text)"
          >
            Submit
          </v-btn>
        </td>
      </template>
    </v-data-table>
    <div class="ma-5"></div>

    <v-btn depressed color="success"
           @click="listImage">
      Show Images
    </v-btn>
    <v-btn depressed color="error"
           @click="deleteAll">
      Delete all
    </v-btn>
    <v-layout>
      <v-flex xs12 sm4
              ma-1
              v-for="(im,k) in images" :key="k">
        <div>
          <v-card>
            <v-card-media>
              <v-img
                class="pa-3"
                :src="im"></v-img>
            </v-card-media>

            <v-card-actions>
              <v-btn
                depressed
                icon
                @click="()=>deleteImage(im)"
              >
                <v-icon color="orange">fas fa-trash</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import _ from 'lodash';
  import { getVideoList, once, all, getImages, removeImage } from '../config/axios';

  export default {
    name: 'UI',
    data() {
      return {
        snackbar: false,
        snackText: '',
        videos: [],
        bucketName: '',
        images: [],
        snackColor: 'success',
        headers: [
          {
            text: 'Items',
            align: 'center',
          },
          {
            text: 'Generate Thumbnail',
            value: 'action',
            align: 'center',
            sortable: false,
          },
        ],
      };
    },
    mounted() {
      this.bucketName = this.$route.params.bucket_name;
      getVideoList(this.bucketName)
        .then(({ objects }) => {
          this.videos = _.reduce(objects, (acc, o) => _.concat(acc, { text: o }), []);
        });
    },
    methods: {
      addBucketQueue() {
        const { bucketName } = this;
        all(bucketName)
          .then(() => {
            this.snackbar = true;
            this.snackText = `Queued bucket ${bucketName}`;
            this.snackColor = 'success';
          });
      },
      addQueue(video) {
        const { bucketName } = this;
        once(bucketName, video)
          .then(() => {
            this.snackbar = true;
            this.snackColor = 'success';
            this.snackText = `Added ${video} to work queue`;
          });
      },
      listImage() {
        const { bucketName } = this;
        getImages(this.bucketName)
          .then(({ objects }) => _.reduce(objects, (acc, o) => _.concat(acc, { text: o }), []))
          .then((list) => {
            let imageUrls = [];
            _.forEach(list, ({ text }) => {
              const url = `http://localhost:3000/${bucketName}/${text}`;
              imageUrls = _.concat(imageUrls, url);
            });
            return imageUrls;
          })
          .then((urls) => {
            this.images = urls;
          });
      },
      deleteImage(link) {
        const rmLink = `${link}?delete`;
        removeImage(rmLink)
          .then((status) => {
            this.snackbar = true;
            this.snackText = status === 200 ? 'Delete image success' : 'Cannot delete image';
            this.snackColor = status === 200 ? 'success' : 'error';
          })
          .then(() => this.listImage());
      },
      deleteAll() {
        const { images } = this;
        _.forEach(images, (link) => {
          this.deleteImage(link);
        });
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
